@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #ffffff);
}

.spin {
  animation: logo-spin 25s linear infinite;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom glass effect */
.bg-glass {
  background: rgba(255, 255, 255, 0.089);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1); /* Frosted drop shadow */
  transition: background-color 300ms, border-color 300ms, box-shadow 300ms;
}

.bg-glass:hover {
  background: rgba(68, 68, 68, 0.377);
  border-color: rgba(255, 255, 255, 0.39);
}
