@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #2596be 0%, #c60d6b 25%, #110654 50%, #2596be 75%, #c60d6b 100%);
  background-size: 400% 400%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  25% { background-position: 50% 50%; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 50%; }
  100% { background-position: 0% 50%; }
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #ffffff);
}

.spin {
  animation: logo-spin 25s linear infinite;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-glass {
  background: rgba(187, 187, 187, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: background-color 300ms, border-color 300ms, box-shadow 300ms;
}

.bg-glass:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.39);
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-swipe {
  display: flex;
  animation: swipe 15000ms linear infinite backwards;
}

.image2 {
  max-width: 5rem;
  height: 5rem;
  padding: 0 15px;
  object-fit: contain;
}

.image2:last-of-type {
  padding-left: 0;
}